* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #eee;
	min-width: 980px;
}
/********页眉**********/
header {
	background-color: #522a5c;
	height: 80px;
	color: white;
	position: relative;
	
}
header div {
	position: relative;
	background-color: #522a5c;
	width: 980px;
	height: 80px;
	margin: 0 auto;
	z-index: 10;

	
}
header p {
	position: absolute;
	bottom: 5px;

}
header ul {
	list-style: none;
	display: flex;
	height: 80px;
	justify-content: flex-end;
	align-items: flex-end;

}
header li {
	padding: 0 0 5px 28px;

}
header img {
	position: absolute;
	bottom: 0;
	right: 10px;
	z-index: 1;
}
header a{
	color: white;
	text-decoration : none
}
/********内容**********/
#content {
	width: 980px;
	margin: 20px auto 20px auto;
	display: flex;
	
}


/********内容>>>左**********/
#cot-left {
	width: 710px;
	/* //border: 1px solid black; */
	margin-right: 10px;
}

/********内容>>>左>>>tag**********/

#tags ul {
	display: flex;
	list-style: none;
	
}
#tags li {
	background-color: white;
	/* //padding: 20px; */
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	padding: 0 20px;
	border: 1px solid #eee;
}
#tags li:nth-child(1) {
	border-top: 4px solid #dfc6e6;

}
#tags li:nth-child(1):hover {
	border-top: 4px solid #522a5c;
}

#tags li:nth-child(2) {
	border-top: 4px solid #dfc6e6;

}
#tags li:nth-child(2):hover {
	border-top: 4px solid #522a5c;
}

#tags li:nth-child(3) {
	border-top: 4px solid #d2a6ff;

}
#tags li:nth-child(3):hover {
	border-top: 4px solid #5900b2;
}

#tags li:nth-child(4) {
	border-top: 4px solid #ffa98c;

}
#tags li:nth-child(4):hover { 
	border-top: 4px solid #8c2300;
}

#tags li:nth-child(5) {
	border-top: 4px solid #ffe188;

}
#tags li:nth-child(5):hover {
	border-top: 4px solid #d9a300;
}
/********内容>>>左>>>图片**********/
#piclist {
	height: 710px;
	background-color: white;
}
/********内容>>>左>>>more**********/
#checkmoer {
	height: 50px;
	background-color: white;
	margin-top: 10px;
}

/********内容>>>右**********/
#cot-right {
	width: 260px;
	/* //border: 1px solid black; */

}
/********内容>>>右>>>search**********/
#search {
	background-color: white;
	width: 260px;
	height: 80px;
	margin-top: 50px;
	padding: 20px;

	

}
#search div {
	border: 1px solid #ddd;
	width: 220px;
	height: 40px;
	display: flex;
}
#search div:focus {
	border: 1px solid #343434;
}

#search input {
	height: 38px;
	width: 170px;
	border: 0;
	color: #999;
	background: url(../imgs/images/5.png) no-repeat;
	padding-left: 40px;
}
#search input:focus {
	border: 1px solid #343434;
}
#search button, #search img {
	height: 38px;
	width: 50px;
	border: 0;
	color: white;
	font-size: 20px;
}


/********内容>>>右>>>排行**********/
#rank {
	height: 240px;
	background: white;
	margin-top: 20px;
}

/**********页脚************/

footer{
	background: black;
	color: white;

}
#nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}
#nav li{
	margin: 10px 28px 10px 0;
}
#link {
	width: 980px;
	margin: 30px auto 30px auto;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
#link ul{
	list-style: none;
}
.big{
	margin-bottom: 30px;
	font-size: 16px;
}
#copyRight{
	text-align: center;
}
#copyRight img{
	margin-top: 20px;
}